@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/*============================================================================================*/
/* Html
/*============================================================================================*/
.mb-6 {
  margin-bottom: 4rem !important;
}
.mt-6 {
  margin-top: 9rem !important;
}
.mt-7 {
  margin-top: 3rem !important;
  margin-bottom: 3rem;
}
.mt-8 {
  margin-top: 1.5rem !important;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
html {
  overflow-x: hidden;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Space Grotesk", sans-serif;
}
.form-control:focus {
  box-shadow: none;
  border-color: #caccd0;
}
.form-control {
  font-size: 0.87rem;
  height: calc(1.5em + 0.75rem + 4px);
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/*============================================================================================*/
/* Navbar
/*============================================================================================*/
#navbar {
  background: #00243d;
  padding: 0.75rem 1rem;
}
#navbar img {
  width: 115px;
  height: auto;
}
#navbar .container {
  max-width: 1250px;
}

/*============================================================================================*/
/* Formulario
/*============================================================================================*/
#formulario .container {
  max-width: 1100px;
}
#formulario .contenedor {
  background: #f8f9fa;
  border-radius: 10px;
  padding: 30px;
}
#formulario h1 {
  margin: 0 0 6px 0;
  font-weight: 900;
}
#formulario small {
  font-size: 75%;
  color: #353535;
  line-height: 35px;
  font-weight: 400;
}
#formulario button {
  background: #00243d;
  border: none;
  padding: 8px 40px 8px 40px;
  margin: 15px 0 0 0;
  font-size: 0.87rem;
  font-weight: 500;
  transition: all 0.9s;
}
#formulario button:hover {
  background: #003d6d;
}

/*============================================================================================*/
/* Loader
/*============================================================================================*/
#loader i {
  font-size: 45px;
}

/*============================================================================================*/
/* Error
/*============================================================================================*/
#error h3 {
  font-size: 1.4rem;
  margin: 8px 0 0 0;
  font-weight: 400;
}
#error i {
  color: #ffc500;
  font-size: 90px;
}

/*============================================================================================*/
/* Descripcion
/*============================================================================================*/
#descripcion .descripcion {
  background: #f7f7f7;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
}
#descripcion .container {
  max-width: 1100px;
}
#descripcion .descripcion .archivo {
  display: flex;
  align-items: center;
  background: #00243d;
  border-radius: 5px 0 0 5px;
}
#descripcion .descripcion .archivo i {
  color: #fff;
  margin: auto;
  font-size: 28px;
}
#descripcion .descripcion label {
  font-size: 0.9rem;
}
#descripcion .descripcion h3 {
  font-size: 1.4rem;
  font-weight: 400;
}

/*============================================================================================*/
/* Informacion
/*============================================================================================*/
#informacion .card .card-header {
  text-align: initial;
  font-size: 1rem;
  color: #353535;
}
#informacion .card .card-header i {
  font-size: 17px;
  margin: 0 5px 0 0;
}
#informacion .card .card-body {
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 1.1rem;
}
#informacion .card .card-body i {
  font-size: 15px;
  color: #00243d;
  margin: 0 6px 0 0;
  border-radius: 5px;
}
#informacion .card .card-body h5 {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}
#informacion .card .card-body label {
  font-size: 0.9rem;
}
