@media (max-width: 360px) {
/*============================================================================================*/
/* Html
/*============================================================================================*/
  html {
    font-size: 85%;
  }

/*============================================================================================*/
/* Navbar
/*============================================================================================*/
  #navbar .container {
    display: block;
  }
  #navbar {
    text-align: center;
    padding: 0.85rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  #navbar img {
    width: 120px;
    height: auto;
  }

/*============================================================================================*/
/* Formulario
/*============================================================================================*/
  #formulario {
    padding: 128px 0 0 0;
  }

/*============================================================================================*/
/* Descripcion
/*============================================================================================*/
  #descripcion .descripcion .archivo i {
    padding: 10px;
    font-size: 21px;
  }
  #descripcion .descripcion .archivo {
    margin: 0 0 10px 0;
  }

/*============================================================================================*/
/* Informacion
/*============================================================================================*/
  .responsive {
    margin: 12px 0 0 0;
  }
  .responsive2 {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
    border-right: 0.5px solid rgba(0, 0, 0, 0.1);
    padding: 0 0 5px 0;
  }
  .responsive3 {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
    padding: 0 0 5px 0;
  }
  #informacion .card .card-body {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 361px) and (max-width: 767px) {
/*============================================================================================*/
/* Html
/*============================================================================================*/
  html {
    font-size: 85%;
  }

/*============================================================================================*/
/* Navbar
/*============================================================================================*/
  #navbar .container {
    display: block;
  }
  #navbar {
    text-align: center;
    padding: 0.85rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  #navbar img {
    width: 120px;
    height: auto;
  }

/*============================================================================================*/
/* Formulario
/*============================================================================================*/
  #formulario {
    padding: 128px 0 0 0;
  }

/*============================================================================================*/
/* Descripcion
/*============================================================================================*/
  #descripcion .descripcion .archivo i {
    padding: 10px;
    font-size: 21px;
  }
  #descripcion .descripcion .archivo {
    margin: 0 0 10px 0;
  }

/*============================================================================================*/
/* Informacion
/*============================================================================================*/
  .responsive {
    margin: 12px 0 0 0;
  }
  .responsive2 {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
    border-right: 0.5px solid rgba(0, 0, 0, 0.1);
    padding: 0 0 5px 0;
  }
  .responsive3 {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
    padding: 0 0 5px 0;
  }
  #informacion .card .card-body {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 824px) and (orientation: landscape) {
/*============================================================================================*/
/* Navbar
/*============================================================================================*/
  #navbar .container {
    display: block;
  }
  #navbar {
    text-align: center;
    padding: 0.85rem 1rem;
  }
  #navbar img {
    width: 120px;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
/*============================================================================================*/
/* Navbar
/*============================================================================================*/
  #navbar .container {
    display: block;
  }
  #navbar {
    text-align: center;
    padding: 0.85rem 1rem;
  }
  #navbar img {
    width: 120px;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
/*============================================================================================*/
/* Navbar
/*============================================================================================*/
  #navbar .container {
    display: block;
  }
  #navbar {
    text-align: center;
    padding: 0.85rem 1rem;
  }
  #navbar img {
    width: 120px;
    height: auto;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) and (orientation: portrait) {
/*============================================================================================*/
/* Navbar
/*============================================================================================*/
  #navbar .container {
    display: block;
  }
  #navbar {
    text-align: center;
    padding: 0.85rem 1rem;
  }
  #navbar img {
    width: 120px;
    height: auto;
  }
}
