<template>
    <div>
        <!--========Navbar=========-->
        <nav id="navbar" class="navbar navbar-expand-md mb-6">
            <div class="container">
                <a href="/">
                    <img src="img/logo.png">
                </a>
            </div>
        </nav>
        <!--========Formulario=========-->
        <div id="formulario">
            <div class="container">
                <div class="contenedor">
                    <h1>Tracking</h1>
                    <small>Container/transport document number</small>
                    <form @submit.prevent="handleSubmit">
                        <input class="form-control" type="text" v-model="busqueda" required>
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
        <!--========Loader=========-->
        <div id="loader" class="mt-6 text-center" v-if="this.spiner === true">
            <i class="fas fa-spinner fa-spin"></i>
        </div>
        <!--========Error=========-->
        <div id="error" class="mt-6 text-center" v-if="this.mensaje_error === true">
            <i class="fas fa-exclamation-triangle"></i>
            <h3>No results found</h3>
        </div>
        <!--========Descripcion=========-->
        <div id="descripcion" class="mt-7 text-center" v-if="this.resultado === true">
            <div class="container descripcion">
                <div class="row">
                    <div class="col-md-1 archivo">
                        <i class="far fa-file-alt"></i>
                    </div>
                    <div class="col-6 col-md-3 mx-auto responsive2">
                        <label class="form-label">De</label>
                        <h3>{{ this.origen }}</h3>
                    </div>
                    <div class="col-6 col-md-3 mx-auto responsive3">
                        <label class="form-label">Para</label>
                        <h3>{{ this.destino }}</h3>
                    </div>
                    <div class="col-6 col-md-3 mx-auto responsive">
                        <label class="form-label">Codigo BL</label>
                        <h3>{{ this.codigo_carga }}</h3>
                    </div>
                </div>
            </div>
            <!--========Informacion=========-->
            <!--<div id="informacion" class="mt-8 text-center" v-for="containers in this.tracking_containers"
                v-bind:key="containers.container_code">
                <div class="container">
                    <div class="card">
                        <h5 class="card-header"><i class="fas fa-anchor"></i>{{containers.container_code}}</h5>
                        <div class="card-body" v-for="detail in tracking_details" v-bind:key="detail.id">
                            <div class="row">
                                <div class="col-6 col-md-4 responsive2">
                                    <label class="form-label"><i
                                            class="fas fa-compact-disc fa-spin"></i>Location</label>
                                    <h5>{{detail.location}}</h5>
                                </div>
                                <div class="col-6 col-md-4 responsive3">
                                    <label class="form-label"><i class="fas fa-compact-disc fa-spin"></i>Date</label>
                                    <h5>{{detail.date}}</h5>
                                </div>
                                <div class="col-6 col-md-4 mx-auto responsive">
                                    <label class="form-label"><i
                                            class="fas fa-compact-disc fa-spin"></i>activity</label>
                                    <h5>{{detail.activity}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div id="informacion" class="mt-8 text-center" >
                <div class="container" v-for="containers in this.tracking_containers"
                v-bind:key="containers.container_code">
                    <div class="card">
                        <h5 class="card-header"><i class="fas fa-anchor"></i>{{containers.container_code}}</h5>
                    </div>
                </div>
            </div>
            <div id="informacion" class="mt-8 text-center" >
                <div class="container">
                    <div class="card">
                        <div class="card-body" v-for="detail in tracking_details" v-bind:key="detail.id">
                            <div class="row">
                                <div class="col-6 col-md-4 responsive2">
                                    <label class="form-label"><i
                                            class="fas fa-compact-disc fa-spin"></i>Location</label>
                                    <h5>{{detail.location}}</h5>
                                </div>
                                <div class="col-6 col-md-4 responsive3">
                                    <label class="form-label"><i class="fas fa-compact-disc fa-spin"></i>Date</label>
                                    <h5>{{detail.date}}</h5>
                                </div>
                                <div class="col-6 col-md-4 mx-auto responsive">
                                    <label class="form-label"><i
                                            class="fas fa-compact-disc fa-spin"></i>activity</label>
                                    <h5>{{detail.activity}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<!--============Script Axios=============-->
<script>
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';

Vue.use(VueAxios, axios);

export default {
    name: 'IndexComponent',
    data() {
        return {
            submitted: false,
            busqueda: '',
            resultado: false,
            spiner: false,
            mensaje_error: false,
            origen: '',
            destino: '',
            codigo_carga: '',
            tracking_details: null,
            tracking_containers: null
        }
    },
    methods: {
        handleSubmit() {
            this.submitted = true;
            //EndPoint de actualizaciones 
            axios.get('http://35.232.34.129/api/tracking-details/' + this.busqueda)
                .then(response => {
                    this.tracking_details = response.data;
                    console.log(this.tracking_details);
                    this.resultado = true;
                    this.mensaje_error = false;
                }).catch(error => {
                    console.log(error);
                    this.spiner = false;
                    this.resultado = false;
                    this.mensaje_error = true;
                });

            //Endpoint para encabezado 
            axios.get('http://35.232.34.129/api/tracking/' + this.busqueda)
                .then(res => {
                    this.origen = res.data[0].carga;
                    this.destino = res.data[0].descarga;
                    this.codigo_carga = res.data[0].bl_code;
                }).catch(error => {
                    console.log(error);
                });

            //EndPoint para contenedores  
            axios.get('http://35.232.34.129/api/tracking-containers/' + this.busqueda)
                .then(respuesta => {
                    this.tracking_containers = respuesta.data;
                    console.log(this.tracking_containers)
                }).catch(error => {
                    console.log(error);
                });
        },
    }
}
</script>