<template>
    <div id="app">
        <vue-page-transition name="fade">
            <router-view></router-view>
        </vue-page-transition>
    </div>
</template>

<!--============Script Axios=============-->
<script>
import store from './store';

export default {
    store,
    name: 'App',
}
</script>